header {
  background-color: #0f0f11;
  height: 75px;
}
header .navbar-brand:hover {
  filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.5764705882));
  transform: scale(1.1);
}

#explain {
  padding: 15px;
  margin-top: 50px;
}
#explain #stages {
  color: white;
  font-size: 60px;
  font-style: italic;
  font-family: ppeiko2;
  font-weight: bold;
  padding: 0px;
  display: flex;
  justify-content: center;
}
#explain #stages2 {
  color: white;
  font-size: 24px;
  font-style: italic;
  font-family: ppeiko2;
  display: flex;
  justify-content: center;
}

article {
  height: 500px;
}

footer {
  background-color: #0f0f11;
}

.blanco {
  color: white;
}

body {
  background-color: #141416;
}
body nav {
  background-color: #0f0f11;
}
body nav a img {
  height: 50px;
  padding: 5px;
}

div div article {
  background: #868686;
}

#xd {
  padding: 30px;
}

.gris {
  filter: grayscale(100%);
}

.footer {
  margin-bottom: 0;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer p {
  margin: 0;
}

#tw:hover {
  filter: drop-shadow(0px 0px 10px #00add8);
  fill: #00add8 !important;
}

#twitch:hover {
  filter: drop-shadow(0px 0px 9px #7d33dd);
  fill: #7d33dd !important;
}

#ig:hover {
  filter: drop-shadow(0px 0px 8px #ffa69a);
  fill: #f38cc5 !important;
}

#beha:hover {
  filter: drop-shadow(0px 0px 10px #013bfd);
  fill: #0056d8 !important;
}

.carousel {
  margin-left: auto;
  margin-right: auto;
  background-color: #0f0f11;
}

.jumbotron {
  background-image: url(multimedia/fondo.gif);
  background-position: center;
  background-size: cover; /* Cambiado a 'cover' para que la imagen de fondo cubra todo el contenedor */
  height: 50vh;
}

.margenesLaterales {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.contenidoHero {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.separador {
  color: #bf9d6d;
  font-style: italic;
  font-family: ppeiko2;
}

.dylan {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wow {
  margin-top: 100px;
}

#start h2 {
  margin: 0;
  color: white;
  line-height: 0.8;
  font-size: 100px;
  font-style: italic;
  font-family: ppeiko;
}
#start p {
  color: white;
  font-size: 30px;
  font-style: italic;
  font-family: ppeiko;
}

#contactForm {
  background-color: rgba(31, 31, 34, 0.3960784314) !important;
  border-radius: 5%;
  padding: 40px;
}

.red {
  margin-top: 100px;
  background-color: rgba(31, 31, 34, 0.3960784314);
  border-radius: 8px;
  height: 275px;
}

.ruido {
  background-image: url(multimedia/fondoruido.png);
}

.question {
  padding: 15px;
}
.question h3 {
  font-size: 40px;
  font-family: ppeiko;
  font-style: italic;
}
.question p {
  font-size: 16px;
  margin-bottom: 25px;
}
.question a {
  background-color: #868686;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}

#faqs {
  color: white;
  padding-top: 50px;
  margin-left: 100px;
  font-size: 40px;
  font-family: ppeiko;
  font-style: italic;
}

.accordion {
  padding: 50px;
  filter: drop-shadow(0px 0px 10px rgba(134, 134, 134, 0.2470588235));
}

.accordion__b {
  background-color: rgba(9, 9, 10, 0.9529411765);
  color: white;
}

.accordion__b:enabled {
  background-color: #0f0f11;
}

.presentacion {
  height: 400px;
  background-image: url(multimedia/fondo.gif);
  background-position: center;
  background-size: 100% 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.presentacion img {
  height: 275px;
}

#bjm {
  font-size: 60px;
  padding: 15px;
  color: white;
  font-style: italic;
  font-family: ppeiko3;
  display: flex;
  align-items: center;
  line-height: 1;
}

.orden {
  padding: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
.orden p {
  display: flex;
  align-items: end;
}

#programas {
  background-color: rgba(9, 9, 10, 0.9529411765);
  height: 500px;
}

main div p {
  padding: 50px;
}

.item {
  border: 1px solid white;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  transition: all 0.6s;
}

#espacio {
  display: flex;
  justify-content: space-around;
  padding: 50;
}

.cuadrado {
  background-color: #0f0f11;
  height: 200px;
  width: 200px;
}

#ps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: italic;
  font-family: ppeiko1;
}
#ps img {
  height: 75px;
}

#ai {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-style: italic;
  font-family: ppeiko1;
}
#ai img {
  height: 75px;
}

#ps:hover {
  transform: scale(1.08);
  filter: drop-shadow(0px 0px 15px rgba(0, 140, 255, 0.4431372549));
}

#ai:hover {
  transform: scale(1.08);
  filter: drop-shadow(0px 0px 15px rgba(253, 80, 0, 0.7529411765));
}

.container {
  text-align: center;
  padding: 20px;
}
.container a {
  background-color: #868686;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
}
.container .image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 30px;
}
.container .image-grid .image-item {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.container .image-grid .image-item .image-item {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-item img {
  max-width: 100%;
  height: auto;
  display: block;
}

.image-item:hover {
  transform: scale(1.1);
}

#works {
  color: white;
  font-size: 40px;
  font-style: italic;
  font-family: ppeiko2;
  padding: 15px;
}

body {
  background-image: url(multimedia/fondoruido.png);
}

.container {
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}

.slider-nav a:hover {
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .secciones {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .secciones {
    margin: 50px 0;
    padding: 0;
  }
  .secciones div .imagen {
    width: 300px;
  }
  .secciones .texto {
    width: 300px;
    padding: 0;
  }
  h2 {
    font-size: 24px;
  }
  .navbar {
    padding: 10px;
  }
  .presentacion {
    text-align: center;
  }
  #foto img {
    max-width: 100%;
    height: auto;
  }
  .explicacion {
    text-align: justify;
  }
  footer {
    margin-top: 20px;
  }
}/*# sourceMappingURL=diseño.css.map */